@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

main {
  .hero-image {
    width: 100vw;
    height: 100vh;
    background: url(../content/component.png), ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
  }

}

nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 50px;
  background: transparent;
  .menu {
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    .logo {
      img {
        margin: 37px 0 0 175px;
        width: 100px;
      }
    }
    .button {
      width: 150px;
      margin-right: 175px;
      display: flex;
      button {
        border: none;
        color: #fff;
        padding: 5px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 10px;
        &:first-child {
          margin-top: 24px;
          background: rgba(255, 255, 255, 0.38) 0% 0% no-repeat padding-box;;
          width: 30%;
        }
        &:last-child {
          margin-top: 24px;
          background: #DE0E0B;
          width: 69%;
          
        }
      }
    }
  }
}

section {
  .hero-inner {
    margin: 483px 0 0 375px;
    img {
      position: relative;
    }
    h1 {
      color: #fff;
      width: 292px;
      height: 130px;
      font-size: 37px;
      position: relative;
      z-index: 1;
    }
    p {
      color: #ADADAD;
      width: 552px;
      height: 54px;
      font-size: 16px;
      position: absolute;
      z-index: 1;
    }
  }
  button {
    p {
      text-align: left;
      font-family: Extrabold 14px/26px Open Sans;
      letter-spacing: 1.33px;
      color: rgba(222, 14, 11, 1);
      opacity: 1;
    }
  }
}
